.recruit_ad, .sub_content{position:fixed;background:#fff;z-index:9999;left:0;top:0;right:0;bottom:0;margin:0;border:solid 0px;padding:30px;box-sizing:border-box;width:100%;overflow-x:hidden;overflow-y:auto;}
body{min-width:auto;}
.inner{width:auto;}