
.layer1 .lyr1_bg{height:114.0625vw;background-image:url('../img/page/store/lyr1_bg.jpg')}

.store .store_near{height:92.96875vw;background-image:url('../img/page/store/store_near_bg_20200320.jpg')}
.store_near .lyrtitle{padding:11.6875vw 0 1.5625vw}
/* 9.375vw */
.store_near .near_tab li{margin-left:1.5625vw}
.store_near .near_tab li:first-child{margin-left:0}
.store_near .near_tab li a{display:block;width:29.6875vw;height:9.375vw;border:1px solid #887757;box-sizing:border-box;font-size:3.4375vw;letter-spacing:-0.01em;line-height:9.375vw;color:#fff}
.store_near .near_tab li:first-child a{border-color:#8d7a57;background:#8d7a57}
.ns{padding:5.9375vw 0 13.125vw}
.ns .ns_ttl{display:inline-block;padding-bottom:2.1vw;border-bottom:0.625vw solid #3f3a39;font-family:'NotoSerifKR-Medium';font-size:5.3125vw;letter-spacing:0.05em;color:#2d2d2d}
.ns ul{padding-left:20vw;padding-top:6.25vw;margin-top:-1px;border-top:1px solid rgba(0,0,0,0.2)}
.ns ul li{font-size:4.0625vw;letter-spacing:0.05em;line-height:192%;color:#000}
.ns ul li:first-child{width:40vw}

.store .tab_wrap{margin:7.8125vw 0;position:relative;display:inline-block;width:46.875vw;height:9.375vw;background:#a38f6a;z-index:10}
.store .tab_wrap .tab_a{position:absolute;top:0;left:0;width:100%;height:100%;background:url('../img/page/menu/tab_arr.png')no-repeat 90% center;background-size:1.875vw;font-family:'NotoSansKR-Medium';font-size:3.75vw;line-height:9.375vw;letter-spacing:0.05em;color:#fff}
.store .store_tab{position:absolute;top:100%;left:0;width:100%;padding:1.5625vw 0;background:rgba(113,100,74,0.9)}
.store .store_tab li{position:relative;width:100%}
.store .store_tab li a{display:block;width:100%;height:100%;font-family:'NotoSansKR-Medium';font-size:3.75vw;letter-spacing:0.05em;line-height:187%;color:#fff}
.store .store_tab li.on{display:none}

.store{padding-bottom:15.625vw}
.store_list li{position:relative;width:100%;height:23.4375vw;margin-bottom:2.5vw}
.store_list li .store_box{display:block;width:100%;height:100%;padding-left:4.6875vw;padding-right:31.25vw;border:1px solid #d1d3d6;box-sizing:border-box}
.store_list .store_name{padding-top:2.1875vw;font-family:'NotoSansKR-Medium';font-size:3.75vw;line-height:200%;letter-spacing:-0.02em;color:#000}
.store_list .store_text{font-size:3.4375vw;letter-spacing:-0.02em;line-height:155%;color:#666}
.store_list .store_del{position:absolute;top:50%;right:17.8125vw;margin-top:-6.25vw;width:12.5vw;height:12.5vw;background:url('../img/page/store/store_del.png')no-repeat center;background-size:cover}
.store_list .store_map{position:absolute;top:50%;right:4.6875vw;margin-top:-6.25vw;width:12.5vw;height:12.5vw;background:url('../img/page/store/store_map.png')no-repeat center;background-size:cover}
.store .more{position:relative;display:inline-block;margin-top:7.8125vw;padding:0 2.5vw;letter-spacing:0.15em;line-height:9.375vw}
.store .more:before{content:'';position:absolute;bottom:0;left:0;width:100%;height:0.625vw;background:#c08f6f}
