.iqr_policy_wrap{position:relative;padding-bottom:6%}
.iqr_tit{width:100%;font-size:13px;letter-spacing:-0.02em;color:#231815}
.iqr_policy{position:relative;margin:2% 0 1%;border:1px solid #999}
.iqr_policy > ol{padding:3% 4%}
.iqr_policy > ol > li{margin-top:2%}
.iqr_policy > ol > li:first-child{margin-top:0}
.iqr_check{margin-top:2%;padding:15px;border:1px solid #999}
.iqr_check:after{content:'';display:block;clear:both}
.iqr_check > input{overflow:hidden;position:absolute;width:0.1px;height:0.1px;opacity:0;z-index:-1}
.iqr_check > label{display:block;float:left;width:7.8125vw;height:7.8125vw;margin-right:3.125vw;background:url('../img/chk_ico.png') no-repeat 0 0;background-size:7.8125vw 15.625vw}
.iqr_check > .chk_lbl{float:left;font-size:3.4375vw;letter-spacing:-0.02em;line-height:7.8125vw;color:#1c1c1c}
.iqr_check > .chk_lbl a{position:relative;font-family:'NotoSansKR-Bold';color:#956e26}
.iqr_check > .chk_lbl a:after{content:'';position:absolute;left:0;bottom:-1px;width:100%;height:1px;background:#956e26}
.iqr_check > input:checked + label{background-position:0 -7.8125vw}

.iqr_dot{position:relative;margin-left:10px;padding-left:10px;font-size:0.65em}
.iqr_dot:before{content:'';position:absolute;left:0;top:40%;width:6px;height:6px;background:url('../img/inquiry_dot.png') no-repeat}
.iqr_dot > span{font-size:0}

.inquiry_fields{margin-top:2%}
.inquiry_fields li{padding-bottom:2%}
.inquiry_fields li:after{content:'';display:block;clear:both}
.field_title{position:relative;float:left;width:80px;font-size:0.7em;line-height:30px;letter-spacing:-0.05em;color:#1c1c1c;padding-left:10px;box-sizing:border-box}
.field_title.required:before{content:'';position:absolute;left:0;top:50%;width:6px;height:6px;margin-top:-3px;background:url('../img/inquiry_dot.png') no-repeat}
.inquiry_fields input[type="text"], .inquiry_fields select{float:left;width:calc(100% - 80px);height:30px;padding:0 5px;border:1px solid #999;background-color:#fff;font-size:0.75em;line-height:25px;letter-spacing:-0.05em;color:#444;-webkit-appearance:none;border-radius:0;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
}
.email_wrap{position:relative;height:25px;margin-bottom:2%}
.inquiry_fields input[type="text"].half_input01{padding-right:6%}
.inquiry_fields input[type="text"].half_input02{float:right;width:calc(50% - 40px);border-top:0;border-right:0}
.email_ico{position:absolute;right:0;top:0;width:6%;font-size:0.75em;line-height:30px;color:#666;text-align:center}
.inquiry_fields select#email_03{float:right;width:calc(50% - 40px);border-top:0}
.input_radio label{display:block;background:#fff;font-size:0.75em;color:#666;line-height:30px;letter-spacing:-0.05em;;border:1px solid #999;border-right:0;box-sizing:border-box;text-align:center}
.input_radio:last-child label{border-right:1px solid #999}
.input_comment{position:relative;padding-right:100px}
.input_comment .text{position:absolute;right:0;top:0;font-size:0.75em;line-height:25px;color:#7d7b7c}
.input_radio{float:left;width:calc(25% - 20px)}
.input_radio input{overflow:hidden;position:absolute;opacity:0;z-index:-1;width:0.1px;height:0.1px}
.input_radio input:checked + label{background:#a79471;color:#fff}
.inquiry_fields textarea{width:100%;height:80px;padding:5px;border:1px solid #999;font-size:0.75em;line-height:150%;letter-spacing:-0.05em;color:#444;border-radius:0;resize:none;
-webkit-appearance:none;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
box-sizing:border-box;
}
.inquiry_fields select#email_03{
-webkit-appearance: none; /* 화살표 없애기 for chrome*/
-moz-appearance: none;    /* 화살표 없애기 for firefox*/
appearance: none;         /* 화살표 없애기 공통*/
background:#fff url('../img/email_sel.png') no-repeat 95% 50%; /* 화살표 아이콘 추가 */
background-size:2.1875vw
}
.inquiry_fields select#email_03::-ms-expand {
   display: none;         /* 화살표 없애기 for IE10, 11*/
}
.b_btn01{width:150px;height:35px;background:#a79471;font-family:'NotoSerifKR-Medium';font-size:13px;letter-spacing:0.05em;color:#fff}
